*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --texto: #EDF1F7;
    --verm: #d31616;
    --amare: rgb(221, 218, 14);
}
body, button, a{
    color: var(--texto);
    font: 400 1rem "Mukta", sans-serif;
}
a{
    text-decoration: none;
}
button:hover{
    cursor:  pointer;
}