@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Julee&family=Metal+Mania&family=Sriracha&display=swap');
    :root{
        --fonte1: Verdana, Geneva, Tahoma, sans-serif;
        --fonte2: 'Acme', sans-serif,
         'Julee', 'Metal Mania',
        'Sriracha', cursive;
    }
    *{
        margin: 0px;
        padding: 0px;
    }
    html, body{
        min-height: 100%;
        background-color: darkgrey;
    }
    header{
        background-color: black;
        color: white;
        text-align: center;
    }
    header > h1{
        padding-top: 50px;
        font-variant: small-caps;
        font-size: 50px;
        font-family: 'Acme';
    }
    header > p{
        padding-bottom: 50px;     
    }
    header a, footer a{
        text-decoration: none;
        font-weight: bolder;
        color: white;
    }
    header a:hover, footer a:hover{
        text-decoration: underline;
        color: rgb(22, 109, 223);
    }
    section{
        padding-top: 5%;
        padding-bottom: 10%;
        padding-left: 20px;
        padding-right: 10px;
    }
    section.normal{
        background-color: white;
        color: black;
    }
    section.imagem{
        background-color: rgb(51, 51, 51);
        color: white;
    }
    section.imagem > p{
        background-color: rgba(0, 0, 0, 0.288);
        font-family: 'Julee', 'Sriracha', cursive;
        line-height: 50px;
    }
    h2{
        padding-bottom: 70px;
        font-family: 'Metal Mania', 'Julee',cursive;
    }
    main p{
        text-align: left;
        font-family: 'Sriracha', cursive;
    }
    main{
        font-size: 25px;
    }
    section#img1{
        background-image: url(imagens/lovecraft.jpg);
    }
    section#img2{
        background-image: url(imagens/ct1.png);
        background-repeat: no-repeat;
        
    }
    section#img3{
        background-image: url(imagens/espaço.jpg);
    }
    footer{
        background-color: black;
        color: white;
        padding: 15px;
        text-align: center;
    }
    